body {
  background-color: #eeeeee;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.col_extra_pad {
  padding-top: 20px;
}
.card_graph_extra_padd {
  padding-left: 20px;
  padding-right: 20px;
}
.table_xsm,
.table_xsm td,
.table_xsm td:first-child,
.table_xsm td:last-child,
.table_xsm th,
.table_xsm th:first-child,
.table_xsm th:last-child {
  padding: 0.5rem;
  vertical-align: middle;
  /*max-width: 230px;*/
}
.table_xsm td:first-child,
.table_xsm th:first-child {
  width: 230px;
  max-width: 230px;
}
.table_xsm td:last-child,
.table_xsm th:last-child {
  width: 45px;
  max-width: 45px;
}

.custom-control-check {
  padding-left: 1.5rem;
}
.custom-control-check-label {
  font-size: 0.75rem;
}

.input_color_container {
  position: relative;
  overflow: hidden;
  width: 25px;
  height: 25px;
  border: solid 2px #ddd;
  border-radius: 25px;
}

.input_color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}
.input_file_csv {
  display: none;
}

.card-table {
  max-height: 85vh;
}
