body {
  font: 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: steelblue;
}
.axis-text {
  font-size: 14px;
}
.focus text {
  font-size: 14px;
}

.tooltip {
  fill: white;
  stroke: #000;
}

.tooltip-band,
.tooltip-value {
  font-weight: bold;
}

.aside-container {
  float: left;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 500px;
  margin: 10px;
}
.table-container {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  height: 450px;
  margin: 5px;
}

.main_section {
  overflow: hidden;
}
